span {
  font-family: var(--bodyFont);
}

/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/** NoonNoo Web Font */
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Usage of imported fonts in CSS classes */

@mixin font-family($font-name) {
  @if $font-name == "noto-sans-kr" {
    font-family: "Noto Sans KR", sans-serif;
  } @else if $font-name == "raleway" {
    font-family: "Raleway", sans-serif;
  } @else if $font-name == "montserrat" {
    font-family: "Montserrat", sans-serif;
  } @else if $font-name == "source-sans-3" {
    font-family: "Source Sans 3", sans-serif;
  } @else if $font-name == "titleFont" {
    font-family: var(--titleFont), sans-serif;
  } @else {
    @warn 'Unknown font family #{$font-name}.';
  }
}
