:root {
  --titleFont: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bodyFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ampFont: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  --systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --monoFont: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", monospace;

  --color-window-dark: #3b98d8;
  --color-window-light: white;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: #222;
}
button,
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS*/
body {
  font-size: 18px;
  // line-height: 1.7em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #222;
}

/* display : */
header {
  // display: none;
}
.home-inner {
  // display: none;
  overflow-y: scroll;
}
.intro-access,
.access-inner {
  // display: none;
}
.banner {
  display: none;
}
.feature {
  display: none;
}
