/* Reset CSS */
* {
  box-sizing: border-box;
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: #222;
}
button,
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS*/
body {
  font-family: "intelone-mono-font-family-regularNEXON Lv2 Gothic", sans-serif;
  font-size: 18px;
  // line-height: 1.7em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #222;
}

/* display : */
header {
  // display: none;
}
.home-inner {
  // display: none;
  overflow-y: scroll;
}
.intro-access,
.access-inner {
  display: none;
}
.banner {
  display: none;
}
.feature {
  display: none;
}
